.teasers {
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
}

.teaser {
  padding: 0 2rem 1rem 2rem;
  margin-bottom: 1rem;  
}

.teaser::after {
  content: "";
  position: relative;
  display: block;
  border: 1px solid #ccc;
  border-width: 0 0 1px;
  bottom: -1rem;
  margin: 0 20px;
}

.teasers-right .teaser:last-child:after {
  border: none;
}

.teaser > p {
  // text-align: justify;
  text-justify: inter-word;

}

.img-v > img,
  .img-h > img {
    width: 100%;
  }

@media screen and (max-width: 576px) {
  
}

@media screen and (min-width: 576px) {
  
  .img-v {
    float: right;
    width: calc(35% + 6vw);;
  }

  .img-h {
    float: right;
    width: calc(45% + 6vw);
  }

  .img-h,
  .img-v {
    padding: 0 0 1rem 1rem;
  }


}

@media screen and (min-width: 768px) {
  .img-v {
    width: calc(25% + 5vw);;
  }

  .img-h {
    width: calc(35% + 5vw);
  }
}

@media screen and (min-width: 992px) {
  .teasers {
    flex-direction: row;
    -ms-flex-direciton: row;
  }

  .teasers-left {
    border-right: 1px solid #ccc;
  }

  .teasers-right > .teaser {
    padding-left: 2rem;
  }

  .teasers-left .teaser:last-child:after {
    border: none;
  }

  // .img-v,
  // .img-h {    
  //   // float: none;
  //   padding: 0 0 2rem 2rem;
  // }
  
}