.teasers {
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
}

.teaser {
  padding: 0 0 1rem 0;
  margin-bottom: 1rem;  
}

.teaser:first-child::before {
  content: "";
  position: relative;
  display: block;
  border: 1px solid #ccc;
  border-width: 0 0 1px;
  top: -10px;
  margin: 0 20px;
}

.teaser::after {
  content: "";
  position: relative;
  display: block;
  border: 1px solid #ccc;
  border-width: 0 0 1px;
  bottom: -1rem;
  margin: 0 20px;
}

.teasers-right .teaser:last-child:after {
  border: none;
}

.teaser > p {
  text-justify: inter-word;

}

.img-v > img,
.img-h > img {
  width: 100%;
}

figcaption {
  font-size: 1.4rem;
  line-height: 1.4;
  font-weight: 600;
  padding: 1rem .7rem 0;
}

@media screen and (max-width: 576px) {
  
}

@media screen and (min-width: 576px) {

  .float-left {
    float: left;
    padding: 0 1rem 1rem 0;
  }

  .float-right {
    float: right;
    padding: 0 0 1rem 1rem;
  }
  
  .img-v {
    // float: right;
    width: calc(35% + 6vw);;
  }

  .img-h {
    // float: right;
    width: calc(45% + 6vw);
  }

  // .img-h,
  // .img-v {
  //   padding: 0 0 1rem 1rem;
  // }


}

@media screen and (min-width: 768px) {
  .img-v {
    width: calc(25% + 5vw);;
  }

  .img-h {
    width: calc(35% + 5vw);
  }
}

@media screen and (min-width: 992px) {
  .teasers {
    flex-direction: row;
    -ms-flex-direciton: row;
  }

  .teasers-left {
    border-right: 1px solid #ccc;
  }

  .teasers-right > .teaser {
    padding-left: 2rem;
  }

  .teasers-left .teaser:last-child:after {
    border: none;
  }

  // .img-v,
  // .img-h {    
  //   // float: none;
  //   padding: 0 0 2rem 2rem;
  // }
  
}